<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change person data</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">Введите свое имя: </label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name</div>
    <br/>
    <label for="surname">Введите свою фамилию: </label>
    <input type="text" th:field="*{surname}" id="surname">
    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">surname</div>
    <br/>
    <label for="patronymic">Введите свое отчество: </label>
    <input type="text" th:field="*{patronymic}" id="patronymic">
    <div style="color:red" th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}">patronymic</div>
    <br/>
    <label for="year">Введите свой год рождения: </label>
    <input type="text" th:field="*{year}" id="year">
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">year</div>
    <br/>
    <input type="submit" value="Сохранить"/>
</form>
</body>
</html>